.login-screen{
    width: 100%;
    height: 100vh;
    background-color: #eeeded;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.login-form-container{
    background-color: white;
    width: 350px;
    height: 250px;
    border: 1px solid #adacac;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.login-input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    
    
}
.login-input{
    display: flex;
    border-width: 1px;
    border-color: #141414;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.login-label{
    color: #242323;
    
}
.login-button-container{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.login-button{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}
.login-button:hover{
    background-color: #066cda;
}