.destiny{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    color: #333;
}
.studies-picx{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90vh;

}
.studies-pics{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
   
}

.study{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    background-color: #000000;
    margin-top: 50px;
   

}
.hey{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 52%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    width: 100%;
    opacity: 0; /* Initially hidden */
    z-index: 2; /* Ensure the text appears above the hover background */
    transition: opacity 0.3s ease; /* Smooth transition */
    padding-bottom: 20px;
    top: 99%;
   
}
.study::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(216, 7, 35); /* Blue with transparency */
    border-radius: 10px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition */
    z-index: 1; /* Ensure the hover effect appears above the image */
    
}

.study:hover::after {
    opacity: 1; /* Show the blue background on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
    transform: scale(1.05); /* Optional: Add a slight zoom effect */
    transition: transform 0.3s ease; /* Smooth zoom transition */
}
.study-picture{
    opacity: 0.4;
       background-color: #0000;
       border-radius: 20px;
        width: 300px;
    height: 400px;
}
.study:hover .hey{
    opacity: 1;
     transition: opacity 0.3s ease;
      animation: fadeSlideIn 0.5s ease forwards; 
}
.study-offer{
    padding-top: 20px;
    color: rgb(31, 31, 31);
    text-align: center;
    
}
.we-provide{
    position: absolute;
    display: flex;
    top:10%;
    left: 47%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:16px;
    width: 90%;
    opacity: 0; /* Initially hidden */
    z-index: 2; /* Ensure the text appears above the hover background */
    transition: opacity 0.3s ease; /* Smooth transition */
    padding-bottom: 20px;
    font-weight: bold;

}
.study:hover .we-provide{
    opacity: 1;
     transition: opacity 0.3s ease;
      animation: fadeSlideIn 0.8s ease forwards; 
}
@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%); /* Start slightly above */
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%); /* End at the centered position */
    }
}

.studies-button-only{
    width: 200px;
    color: coral;
    /* background-color: #ce5263; */
    border-radius: 10px;
    transition: letter-spacing 0.3s ease, background-color 0.3s;
    letter-spacing: normal;
    position: absolute;
    top: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: coral;
    justify-self: center;
    align-items: center;
    padding: 15px;
}

.studies-button-only:hover{
     
    background-color: coral;
    letter-spacing: 1px;
    
    color: white;
}

.we-provide1{  
     position: absolute;
    display: flex; 
    flex-direction: column;
    top:20%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    width: 100%;
    opacity: 0; /* Initially hidden */
    z-index: 2; /* Ensure the text appears above the hover background */
    transition: opacity 0.3s ease; /* Smooth transition */
    padding-bottom: 20px;

}
.study:hover .we-provide1{
    opacity: 1;
     transition: opacity 0.3s ease;
      animation: fadeSlideIn 0.8s ease forwards; 
}

.we-provide2{
     position: absolute;
    display: flex;
    flex-direction: column;
    top:28%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    width: 100%;
    opacity: 0; /* Initially hidden */
    z-index: 2; /* Ensure the text appears above the hover background */
    transition: opacity 0.3s ease; /* Smooth transition */
    padding-bottom: 20px;

}
.work-description-title-2{
    width: 90%;
    position: absolute;
    color: white;
    font-family: 'Helvetica-Bold';
    top: 30%;
    left: 50%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.1;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the title appears above the hover background */
     animation: slideIn 0.7s ease; 
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translate(-70%, -50%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
.study:hover .we-provide2{
    opacity: 1;
     transition: opacity 0.3s ease;
      animation: fadeSlideIn 0.8s ease forwards; 
}
.we-provide3{
     position: absolute;
    display: flex;
    flex-direction: column;
    top:39%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    width: 100%;
    opacity: 0; /* Initially hidden */
    z-index: 2; /* Ensure the text appears above the hover background */
    transition: opacity 0.3s ease; /* Smooth transition */
    padding-bottom: 20px;

}
.study:hover .we-provide3{
    opacity: 1;
     transition: opacity 0.3s ease;
      animation: fadeSlideIn 0.8s ease forwards; 
}
.we-provide4{
     position: absolute;
    display: flex;
    flex-direction: column;
    top:48%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    width: 100%;
    opacity: 0; /* Initially hidden */
    z-index: 2; /* Ensure the text appears above the hover background */
    transition: opacity 0.3s ease; /* Smooth transition */
    padding-bottom: 20px;

}
.study:hover .we-provide4{
    opacity: 1;
     transition: opacity 0.3s ease;
      animation: fadeSlideIn 0.8s ease forwards; 
}
.we-provide5{
     position: absolute;
    display: flex;
    flex-direction: column;
    top:55%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    width: 100%;
    opacity: 0; /* Initially hidden */
    z-index: 2; /* Ensure the text appears above the hover background */
    transition: opacity 0.3s ease; /* Smooth transition */
    padding-bottom: 20px;

}
.study:hover .we-provide5{
    opacity: 1;
     transition: opacity 0.3s ease;
      animation: fadeSlideIn 0.8s ease forwards; 
}
.we-provide6{
     position: absolute;
    display: flex;
    flex-direction: column;
    top:62%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    width: 100%;
    opacity: 0; /* Initially hidden */
    z-index: 2; /* Ensure the text appears above the hover background */
    transition: opacity 0.3s ease; /* Smooth transition */
    padding-bottom: 20px;

}
.study:hover .we-provide6{
    opacity: 1;
     transition: opacity 0.3s ease;
      animation: fadeSlideIn 0.8s ease forwards; 
}

.we-provide7{
     position: absolute;
    display: flex;
    flex-direction: column;
    top:69%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    width: 100%;
    opacity: 0; /* Initially hidden */
    z-index: 2; /* Ensure the text appears above the hover background */
    transition: opacity 0.3s ease; /* Smooth transition */
    padding-bottom: 20px;

}
.study:hover .we-provide7{
    opacity: 1;
     transition: opacity 0.3s ease;
      animation: fadeSlideIn 0.8s ease forwards; 
}
.applies-container4{
    width: 80%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 80%;
    justify-content: space-between;
}
.apply-for-work1{
    left: 80px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #f1eaea;
    margin-bottom: 20px;
    background-color: rgba(90, 90, 90, 0.233);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease; /* Add transition for smooth fade-in */
    z-index: 2; /* Ensure the button appears above the hover background */
}
.apply-for-work2{

    left: 240px;
    margin-right: 100px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #f1eaea;
    margin-bottom: 20px;
    background-color: rgba(90, 90, 90, 0.233);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease; /* Add transition for smooth fade-in */
    z-index: 2; /* Ensure the button appears above the hover background */
}
.apply-for-work1:hover, .apply-for-work2:hover {
    background-color: rgba(255, 0, 98, 0.5);
    color: #ffffff;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
/* Show the button on hover */
.study:hover .apply-for-work1 {
    opacity: 1;
     animation: fadeSlideIn 0.8s ease forwards; 

}
.study:hover .apply-for-work2 {
    opacity: 1;
     animation: fadeSlideIn 0.8s ease forwards; 

}
.canada-flag-container{
    position: absolute;
    top: 73%;
    left:9%;
    width: 100%;
    height: 170px;
    overflow: hidden;
    opacity: 0;
    z-index: 2; /* Ensure the flag appears above the hover background */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
}
.study:hover .canada-flag-container {
    opacity: 1;
    
}
.canada-flag{
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.2;
}
.studies-button-only{
    position: absolute;
    top: 50%;
    left:42%;
    animation: slideIn 0.7s ease; 
    
}
.study-outside-main-cover{
    width: 100%;
    height: 100%;
}
.studies-cover-tablet-view{
    display: none;
}
.studies-cover-desktop-view{
    display: block;
}

/*small tablet, larger phone*/
@media screen and (max-width: 768px){
    .work-description-title-2{
        width: 70%;
        font-size: 25px !important; 
        top: 20% !important;
    }
    .studies-button-only{
    position: absolute;
    top: 30% !important;
    margin-left: -30px;
    
}
.destiny{
    font-size: 18px;
    padding-top: 30px;
}
.studies-picx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
   
}
.studies-pics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.studies-cover-tablet-view{
    display: none;
    margin-bottom: 30px;
}
.studies-cover-desktop-view{
    display: block;
}
}
@media screen and (max-width:1024px){
    .work-description-title-2{
        width: 90%;
        font-size: 32px;
        top: 35%;
    }
    .studies-button-only{
    position: absolute;
    top: 45%;
    left:35% !important;
}

.studies-cover-desktop-view{
    display: none;
}
.studies-cover-tablet-view{
    display: block;
}
}

@media screen and (max-width:480px){
    .work-description-title-2{
        width: 90%;
        font-size: 20px;
        top: 30%;
    }
    .studies-button-only{
    position: absolute;
    top: 50%;
    left: 33% !important;
    
}
.destiny{
    font-size: 18px;
    padding-top: 30px;
}
.studies-picx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
   
}
.studies-pics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.studies-cover-tablet-view{
    display: none;
    
}
.studies-cover-desktop-view{
    display: block;
    margin-bottom: 40px;
}
.studies-button-only{
    width: 150px;
    color: coral;
    /* background-color: #ce5263; */
   
    padding: 10px;
}
}