.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 10px 0;
}
  
  .marquee-text {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 80s linear infinite;
    font-size: 1rem;
    color: white;
   
    white-space: nowrap;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  