.blog-page{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: end;
    background-color: rgb(36, 35, 35);
    color: white;

}
.blog-title{
    font-size: 2rem;
   
    top: 50%;
    padding: 20px;
    position: absolute;
    z-index: 1;

}
.Blog-picture{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    position: absolute;
    opacity: 0.2;
}
.title-blog{
    font-size: 1.5rem;
    font-weight: 600;
    
}
.blog-page-container{
    width: 100%;
    height: 100%;
    background-color: white;
}
.blog-post-main-page{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px){
    .blog-title{
        font-size: 22px;
    }
}