
.loader-overlay {

  position: fixed;
  
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 9999; 
}


.loading-image-logo{
    width: 280px;
    height:100px;
}