.pending-listings{
    width: 100%;
    height: 100vh;
    background-color: #eeeded;
   display: flex;
   position: relative;
  
}
.pending-list-item{
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 150px;
    padding-left: 40px;
    padding-right: 40px;
}
.thead{
    position: relative;
}

.table-text{
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-weight: 600;
    font-size: 0.875rem;
}
.table-list{
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    margin-left: 10px;
    
}
.table-container{
    width: 100%;
    overflow-x: auto;
}
.ta-caption{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.pending-list-title{
    width: 100%;
    padding: 12px 16px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    background-color: #575656;
    border-bottom: 2px solid #eee;
    color: white;
    

}
.pending-list-title:hover {
    background-color: #838081;
}
.pending-list-title.active {
    background-color: #6d6d6d;
    color: #fff;
    
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 0.10);
}
.log-out{
     width: 100%;
    padding: 12px 16px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    background-color: #e70953;
    border-bottom: 2px solid #eee;
    color: white;
    cursor: pointer;
}
.list{
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
    position: sticky;
  
}

.border-b{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom-width: 1px;
    font-size: 0.875rem;
}