
.work-abroad-picture{
   
    object-fit: cover;
    margin-top: 30px;


}
.cover-for-blog{
   width: 100%;
   height: 100%;
}
.work-abroad-content{
    padding: 40px;
}
/* .work-abroad-title{
    font-size: 2rem;
    font-weight: 600;

    padding: 50px;
    color: white;
    background-color: rgb(36, 35, 35);
    margin-top: -30px;
    z-index: 1;
    position: relative;
} */
 .work-abroad-title{
    margin-bottom: 20px;
    font-size: 1.1rem;
 }
 .blog-date{ 
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 20px;
    margin-left: 50px;
    
 }
 .blog-title-for-topic{
   top: 30%;
  left: 28%;
   position: absolute;
   text-align: center;
   
 }
 .blog-title-container{
   width: 100%;
   display: flex;
   justify-content:center ;
   align-items: center;
 }
 .global-text{
    font-size: 1.5rem;
    padding: 30px;
    color: gray;
    font-weight: 600;
 }
 .wbtn-get{
    padding: 10px;
    background-color: yellowgreen;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
 }
 .wbtn-get:hover{
    background-color: green;

 }
 .date-for-blogs{
   position: absolute;
   top: 55%;
   padding: 20px;
 }
 @media screen and (max-width: 768px) {
   .blog-title-for-topic{
      width: 100%;
      left: 0;
   }
 }
 @media screen and (max-width:1024px) {
   .blog-title-for-topic{
      margin-right: 170px;

   }
  
 }
 /* @media screen and (max-width: 1201px){
   .blog-title{
      left: 20%
   }
 }
 @media screen and (max-width: 1600px) {
   .blog-title{
      left: 10%;
   }
 } */